
div{
    background-color: burlywood;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
p{
    text-align: center;
    margin: 10px;
    flex-grow: 1;
    flex-shrink: 2;
    /* flex-basis: 30%; */
    height: 70px;
}
.p1{
    background-color: blueviolet;
}
.p2{
    background-color:darkblue;
    color: aliceblue;
}
.p3{
    background-color: chocolate;
}
.p4{
    background-color: crimson;
    flex-basis: 100%;
}
.p5{
    background-color: purple;
    color: aliceblue;
}
.p6{
    background-color: maroon;
    color: aliceblue;
}