@media screen and (max-width:400px) {
    body{
        background-color: black;
        font-size: 3rem;
        color: aliceblue;
    }
    img{
        width: 40vw;
        border-radius: 1rem;
    }
}
@media (min-width:401px) and (max-width:768px) {
    body{
        background-color: purple;
    }
    p{
        font-size: 4rem;
        color: aliceblue;
    }
    img{
        width: 40vw;
        border-radius: 2rem;
    }
}
@media (min-width:769px) and (max-width:1024px) {
    body{
        background-color: red;
    }
    p{
        font-size: 5rem;
        color: aliceblue;
    }
    img{
        width: 40vw;
        border-radius: 3rem;
    }
}
@media (min-width:1025px) and (max-width:1440px) {
    body{
        background-color:green;
    }
    p{
        font-size: 6rem;
        color: aliceblue;
    }
    img{
        width: 40vw;
        border-radius: 4rem;
    }
}
@media (min-width:1441px) {
    body{
        background-color:blue;
    }
    p{
        font-size: 7rem;
        color: aliceblue;
    }
    img{
        width: 40vw;
        border-radius: 5rem;
    }
}